$hovercolor: red;

/* RGB */
$color1: rgba(2, 43, 58, 1);
$color2: rgba(31, 122, 140, 1);
$color2-dark: rgba(23, 89, 102, 1);
$color3: rgba(239, 131, 84, 1);
$background: rgba(240, 240, 240, 1);
$background-light: rgba(247, 247, 247, 1);