@import 'colorscheme';

%center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    @extend %center;
    height: 100vh;

    background: radial-gradient(circle,$color2 0%, $color2-dark 60%, $color1 100%);
   // background: $color1;

    div {
        @extend %center;
        
        width: 95%;
        height: 95%;
        //background: $color2-dark;
        div {
            @extend %center;
            width: 90%;
            height: 90%;
           // background: $color2;
           
            
            *{
                transition: ease-in-out 0.5s;
            }
            h1 {
                font-size: 4rem;
                color: $background;
            }

            a {
                font-size: 1.6rem;
                color: $background-light;
            }


            @media screen and (max-width: 900px) {
                h1 {
                    font-size: 3rem;
                }

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}