@import 'colorscheme';

@mixin flex($direction,$justify,$alignitems){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $alignitems;

}
@mixin transition(){transition: ease-in-out 0.5s;}

body {
  
    @include flex(column,unset ,unset );

    background: $background;

    header {
        background: $color2;
        @include flex(unset,center ,center );

        nav{
            @include flex(row,space-between ,center );
            @include transition();

            width: 100%;
            max-width: 90em;
            height: 60px;
    
            @media screen and (max-width: 1000px) and (min-width: 800px) {
                max-width: 62em;
            }
            @media screen and (max-width: 800px) {
                max-width: 41em;
            }

            > * {
               // margin: 15px;
                min-width: 100px;
            }
    
            a { //home
                color: $background;
                text-align: center;
    
                height: 100%;
                padding: 15px;
                &:hover {
                    background: $color2-dark;
                }
            }
    
            input[type="text"] {   //search
                @include transition();

             
                padding: 5px 8px;
                width: 15em;
                height: 2.2em;
                border: none;
                border-radius: 15px;

    
                &:hover, &:focus {
                    width: 20em;
                    border-radius: 5px;
                }
                @media screen and (max-width: 800px) {
                    width: 8em;
                    &:hover, &:focus {
                        width: 10em;
                    }
                }
    
            }
            div{ //icons
                @include flex(row,space-between ,center );
                height: 100%;
                
                > *{
                   padding: 14px;
                }

                & > *:hover {
                    background: $color2-dark;
                }
            }
        }
    }

    main {
        @include flex(unset,center ,center );
        @include transition();

        width: 100%;
        padding: 15px;
        
        .content {
            @include flex(column,unset ,unset );
            @include transition();

            width: 90%;
            max-width: 85rem;

            article {
                @include flex(column,unset ,unset );

                margin: 15px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 10px 10px 5px -1px rgba(218, 218, 218, 0.7);

                background: $background-light;

                %shared_article {
                    @include flex(row,unset ,unset );

                    margin: 5px;
                }

                %shared_footer {
                    justify-content: space-between;
                    button{
                        outline: none;
                        border: none;
                        border-radius: 2px;
                        
                        padding:5px;

                        background: $color2;
                        color: $background;

                        &:hover{
                            background: $color2-dark;
                        }
                    }
                }

                &>* {
                    @extend %shared_article;
                }

                .articlemain {
                    padding: 0 10px;
                    color: $color1;
                }

                .articlefooter {
                    @extend %shared_footer;
                    padding: 0 10px;
                }

                .articlecomment {
                    margin: 10px 0 10px 2em ;
                    
                    border-top: 1px solid $color1;
                    border-bottom: 1px solid $color1;
                    flex-direction: column;

                    &>* {
                        @extend %shared_article;
                    }

                    .commentfooter {
                        @extend %shared_footer;

                        div:last-child{
                            padding-right: 10px;
                        }
                    }
                }

            }
        }
        @media screen and (max-width: 800px) {

            padding: 0;
            .content{
                width: 100%
            }
        }
        @media screen and (max-width: 1000px) {

            .content{
                width: 95%
            }
        }
    }
}