<%- include('header') -%>
<link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
    <div>
            <div>
        <h1>
            <%= title %>
        </h1>
        <h2><a href="thread">Thread view</a></h2>
    </div>
</div>

    <%- include('footer') -%>