<%- include('header') -%>
<link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body onload="$('js-tilt').tilt({
    scale: 2,
    maxTilt: 3,
    })">
    <div data-tilt>
        <h1>
            <%= title %>
        </h1>
    </div>
    <h2><a href="thread">Thread view</a></h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="/javascripts/snow.js"></script>
    <%- include('footer') -%>