/* RGB */
body, body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body {
  height: 100vh;
  background: -webkit-radial-gradient(circle, #1f7a8c 0%, #175966 60%, #022b3a 100%);
  background: -o-radial-gradient(circle, #1f7a8c 0%, #175966 60%, #022b3a 100%);
  background: radial-gradient(circle, #1f7a8c 0%, #175966 60%, #022b3a 100%); }
  body div {
    width: 40%;
    height: 30%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    body div * {
      -webkit-transition: ease-in-out 0.5s;
      -o-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s;
      -webkit-transform: translateZ(20px);
      transform: translateZ(20px); }
    body div h1 {
      font-size: 4rem;
      color: #f0f0f0; }
  body a {
    font-size: 1.8rem;
    color: #f7f7f7;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s; }
    body a:hover {
      color: #ef8354; }
  @media screen and (max-width: 900px) {
    body div h1 {
      font-size: 3rem; }
    body a {
      font-size: 1.4rem; } }
